name: Windows Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, windows]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Copy files to IIS web folder
      run: |
        Copy-Item -Path "$env:GITHUB_WORKSPACE\*" -Destination "C:\inetpub\wwwroot" -Recurse -Force
